[submodule "cfe"]
	path = cfe
	url = git@github.com:projetoChi2p/fs-nasa-cfs-cfe.git
[submodule "osal"]
	path = osal
	url = git@github.com:projetoChi2p/fs-nasa-cfs-osal.git
[submodule "psp"]
	path = psp
	url = git@github.com:projetoChi2p/fs-nasa-cfs-psp.git
[submodule "tools/cFS-GroundSystem"]
	path = tools/cFS-GroundSystem
	url = git@github.com:nasa/cFS-GroundSystem.git
[submodule "tools/elf2cfetbl"]
	path = tools/elf2cfetbl
	url = git@github.com:nasa/elf2cfetbl.git
[submodule "tools/tblCRCTool"]
	path = tools/tblCRCTool
	url = git@github.com:nasa/tblCRCTool.git
[submodule "libs/bench_lib"]
	path = libs/bench_lib
	url = git@github.com:projetoChi2p/fs-nasa-cfs-bench_lib.git
[submodule "apps/huff_app"]
	path = apps/huff_app
	url = git@github.com:projetoChi2p/fs-nasa-cfs-huff_app.git
[submodule "apps/mxm_app"]
	path = apps/mxm_app
	url = git@github.com:projetoChi2p/fs-nasa-cfs-mxm_app.git
[submodule "apps/sch_lab"]
	path = apps/sch_lab
	url = git@github.com:projetoChi2p/fs-nasa-cfs-sch_lab.git
[submodule "apps/to_con"]
	path = apps/to_con
	url = git@github.com:projetoChi2p/fs-nasa-cfs-to_con.git
[submodule "third-party/xilinx-xilmfs-v2.3+"]
	path = third-party/xilinx-xilmfs-v2.3+
	url = git@github.com:projetoChi2p/fs-xilinx-mfs.git
[submodule "third-party/fatfs"]
	path = third-party/fatfs
	url = git@github.com:projetoChi2p/fs-chan-fatfs.git
